<?xml version='1.0' encoding='UTF-8'?>
<configuration>
  <item parser_action="parent_old_format" icon=":/Images/specialIcon.png" type="dictionary" name="parent" >
    <item type="string" name="Class name" >AbstractUrbansimConfiguration</item>
    <item type="string" name="Class path" >urbansim.configs.base_configuration</item>
  </item>
  <item type="string" name="description" >Eugene baseline configuration</item>
  <item type="integer" name="base_year" >1980</item>
  <item type="tuple" name="years" >
    <item type="integer" name="startyear" >1981</item>
    <item type="integer" name="endyear" >1982</item>
  </item>
  <item type="list" name="models" >
    <item type="model" name="prescheduled_events" >ok</item>
    <item type="model" name="events_coordinator" >ok</item>
    <item type="model" name="residential_land_share_model" >ok</item>
    <item type="model" name="land_price_model" >ok</item>
    <item type="model" name="development_project_transition_model" >ok</item>
    <item type="model" name="residential_development_project_location_choice_model" >ok</item>
    <item type="model" name="commercial_development_project_location_choice_model" >ok</item>
    <item type="model" name="industrial_development_project_location_choice_model" >ok</item>
    <item type="model" name="development_event_transition_model" >ok</item>
    <item type="model" name="events_coordinator" >ok</item>
    <item type="model" name="residential_land_share_model" >ok</item>
    <item type="model" name="household_transition_model" >ok</item>
    <item type="model" name="employment_transition_model" >ok</item>
    <item type="model" name="household_relocation_model" >ok</item>
    <item type="model" name="household_location_choice_model" >ok</item>
    <item type="model" name="employment_relocation_model" >ok</item>
    <item type="model" name="employment_location_choice_model" >ok<item type="string" name="group_members" >_all_</item>
    </item>
    <item type="model" name="distribute_unplaced_jobs_model" >ok</item>
  </item>
  <item type="class" name="input_configuration" >
    <item flags="hidden" type="string" name="Class name" >DatabaseConfiguration</item>
    <item flags="hidden" type="string" name="Class path" >opus_core.configurations.database_configuration</item>
    <item type="string" name="host_name" />
    <item type="string" name="user_name" />
    <item type="password" name="password" />
    <item type="string" name="database_name" >eugene_1980_baseyear</item>
  </item>
  <item type="string" name="cache_directory" >/home/aaronr/work/urbansim/eugene</item>
  <item type="class" name="creating_baseyear_cache_configuration" >
    <item flags="hidden" type="string" name="Class name" >CreatingBaseyearCacheConfiguration</item>
    <item flags="hidden" type="string" name="Class path" >urbansim.configurations.creating_baseyear_cache_configuration</item>
    <item type="string" name="cache_directory_root" >/home/aaronr/work/urbansim_cache</item>
    <item type="boolean" name="cache_from_mysql" >False</item>
    <item type="class" name="baseyear_cache" >
      <item flags="hidden" type="string" name="Class name" >BaseyearCacheConfiguration</item>
      <item flags="hidden" type="string" name="Class path" >opus_core.configurations.baseyear_cache_configuration</item>
      <item type="string" name="existing_cache_to_copy" >/home/aaronr/work/urbansim_cache/eugene_1980_baseyear_cache</item>
    </item>
    <item type="string" name="cache_scenario_database" >urbansim.model_coordinators.cache_scenario_database</item>
    <item type="list" name="tables_to_cache" >
      <item type="table" name="annual_employment_control_totals" >ok</item>
      <item type="table" name="annual_household_control_totals" >ok</item>
      <item type="table" name="buildings" >ok</item>
      <item type="table" name="building_types" >ok</item>
      <item type="table" name="development_event_history" >ok</item>
      <item type="table" name="gridcells" >ok</item>
      <item type="table" name="households" >ok</item>
      <item type="table" name="job_building_types" >ok</item>
      <item type="table" name="jobs" >ok</item>
      <item type="table" name="travel_data" >ok</item>
      <item type="table" name="zones" >ok</item>
      <item type="table" name="counties" >ok</item>
      <item type="table" name="commercial_development_location_choice_model_coefficients" >ok</item>
      <item type="table" name="commercial_development_location_choice_model_specification" >ok</item>
      <item type="table" name="commercial_employment_location_choice_model_coefficients" >ok</item>
      <item type="table" name="commercial_employment_location_choice_model_specification" >ok</item>
      <item type="table" name="home_based_employment_location_choice_model_specification" >ok</item>
      <item type="table" name="home_based_employment_location_choice_model_coefficients" >ok</item>
      <item type="table" name="industrial_employment_location_choice_model_coefficients" >ok</item>
      <item type="table" name="industrial_employment_location_choice_model_specification" >ok</item>
      <item type="table" name="industrial_development_location_choice_model_coefficients" >ok</item>
      <item type="table" name="industrial_development_location_choice_model_specification" >ok</item>
      <item type="table" name="residential_development_location_choice_model_coefficients" >ok</item>
      <item type="table" name="residential_development_location_choice_model_specification" >ok</item>
      <item type="table" name="fazes" >skip</item>
      <item type="table" name="urbansim_constants" >ok</item>
      <item type="table" name="household_location_choice_model_coefficients" >ok</item>
      <item type="table" name="household_location_choice_model_specification" >ok</item>
      <item type="table" name="land_price_model_coefficients" >ok</item>
      <item type="table" name="land_price_model_specification" >ok</item>
      <item type="table" name="residential_land_share_model_coefficients" >ok</item>
      <item type="table" name="residential_land_share_model_specification" >ok</item>
      <item type="table" name="plan_type_group_definitions" >skip</item>
      <item type="table" name="plan_type_groups" >skip</item>
      <item type="table" name="large_areas" >skip</item>
      <item type="table" name="household_characteristics_for_ht" >ok</item>
      <item type="table" name="development_types" >ok</item>
      <item type="table" name="development_type_group_definitions" >ok</item>
      <item type="table" name="development_constraints" >ok</item>
      <item type="table" name="annual_relocation_rates_for_households" >ok</item>
      <item type="table" name="annual_relocation_rates_for_jobs" >ok</item>
      <item type="table" name="base_year" >ok</item>
      <item type="table" name="cities" >ok</item>
      <item type="table" name="development_events" >skip</item>
      <item type="table" name="development_type_groups" >ok</item>
      <item type="table" name="employment_adhoc_sector_group_definitions" >ok</item>
      <item type="table" name="employment_adhoc_sector_groups" >ok</item>
      <item type="table" name="employment_events" >ok</item>
      <item type="table" name="employment_sectors" >ok</item>
      <item type="table" name="land_use_events" >skip</item>
      <item type="table" name="plan_types" >ok</item>
      <item type="table" name="race_names" >ok</item>
      <item type="table" name="target_vacancies" >ok</item>
      <item type="table" name="jobs_for_estimation" >ok</item>
      <item type="table" name="households_for_estimation" >ok</item>
      <item type="table" name="development_events_exogenous" >skip</item>
    </item>
    <item type="dictionary" name="tables_to_cache_nchunks" >
      <item type="integer" name="gridcells" >1</item>
    </item>
    <item type="dictionary" name="tables_to_copy_to_previous_years" >
      <item type="integer" name="development_type_group_definitions" >1975</item>
      <item type="integer" name="development_type_groups" >1975</item>
      <item type="integer" name="development_types" >1975</item>
      <item type="integer" name="urbansim_constants" >1975</item>
    </item>
  </item>
  <item type="class" name="dataset_pool_configuration" >
    <item flags="hidden" type="string" name="Class name" >DatasetPoolConfiguration</item>
    <item flags="hidden" type="string" name="Class path" >opus_core.configurations.dataset_pool_configuration</item>
    <item type="list" name="package_order" >
      <item type="string" name="package" >eugene</item>
      <item type="string" name="package" >urbansim</item>
      <item type="string" name="package" >opus_core</item>
    </item>
    <item type="dictionary" name="package_order_exceptions" />
  </item>
</configuration>
