<?xml version='1.0' encoding='UTF-8'?>
<configuration>
  <item icon=":/Images/specialIcon.png" type="" name="parent" >
    <item type="path" name="AbstractUrbansimConfiguration" > urbansim.configs.base_configuration</item>
  </item>
  <item flags="OpusImmutable" type="string" name="description" > Eugene baseline configuration </item>
  <item type="class" name="input_configuration" >
    <item flags="OpusHidden" type="string" name="class" >DatabaseConfiguration</item>
    <item flags="OpusHidden" type="path" name="classPath" >opus_core.configurations.database_configuration</item>
    <item type="string" name="host_name" />
    <item type="string" name="user_name" />
    <item type="password" name="password" />
    <item type="string" name="database_name" />
  </item>
  <item type="integer" name="base_year" >1980</item>
  <item type="tuple" name="year_range" >
    <item type="integer" name="start_year" >1981</item>
    <item type="integer" name="end_year" >1982</item>
  </item>
  <item type="list" name="model_list" >
    <item type="model" name="prescheduled_events" />
    <item type="model" name="events_coordinator" />
    <item type="model" name="residential_land_share_model" />
    <item type="model" name="land_price_model" />
    <item type="model" name="development_project_transition_model" />
    <item type="model" name="residential_development_project_location_choice_model" />
    <item type="model" name="commercial_development_project_location_choice_model" />
    <item type="model" name="industrial_development_project_location_choice_model" />
    <item type="model" name="development_event_transition_model" />
    <item type="model" name="events_coordinator" />
    <item type="model" name="residential_land_share_model" />
    <item type="model" name="household_transition_model" />
    <item type="model" name="employment_transition_model" />
    <item type="model" name="household_relocation_model" />
    <item type="model" name="household_location_choice_model" />
    <item type="model" name="employment_relocation_model" />
    <item type="model" name="employment_location_choice_model" >
      <item type="string" name="group_members" >_all_</item>
    </item>
    <item type="model" name="distribute_unplaced_jobs_model" />
  </item>
  <item type="directory" name="cache_directory" >c:/opusworkspace/eugene</item>
  <item type="cacheConfig" name="creating_baseyear_cache_configuration" >
    <item type="class" name="creating_base_year_cache" >
      <item flags="OpusHidden" type="string" name="class" >CreatingBaseyearCacheConfiguration</item>
      <item flags="OpusHidden" type="path" name="classPath" > urbansim.configurations.creating_baseyear_cache_configuration</item>
      <item type="directory" name="cache_directory_root" >c:/urbansim_cache</item>
      <item type="bool" name="cache_from_mysql" >False</item>
      <item type="class" name="base_year_cache" >
        <item flags="OpusHidden" type="string" name="class" >BaseyearCacheConfiguration</item>
        <item flags="OpusHidden" type="path" name="classPath" >opus_core.configurations.baseyear_cache_configuration</item>
        <item type="file" name="existing_cache_to_copy" >c:/urbansim_cache/run_962.2006_11_07_08_50</item>
      </item>
      <item type="path" name="cache_scenario_database" >urbansim.model_coordinators.cache_scenario_database</item>
      <item type="list" name="tables_to_cache" >
        <item flags="OpusSelected" type="checkbox" name="annual_employment_control_totals" />
        <item type="checkbox" name="plan_type_groups" />
        <item type="checkbox" name="large_areas" />
        <item flags="OpusSelected|OpusImmutable" type="checkbox" name="jobs_for_estimation" />
        <item flags="OpusSelected" type="checkbox" name="households_for_estimation" />
        <item type="checkbox" name="development_events_exogenous" />
      </item>
      <item type="dictionary" name="tables_to_cache_nchunks" >
        <item type="integer" name="gridcells" >1</item>
      </item>
      <item type="dictionary" name="tables_to_copy_to_previous_years" >
        <item type="integer" name="development_type_group_definitions" >1975</item>
        <item type="integer" name="development_type_groups" >1975</item>
        <item type="integer" name="development_types" >1975</item>
        <item type="integer" name="urbansim_constants" >1975</item>
      </item>
    </item>
  </item>
  <item type="cacheConfig" name="dataset_pool_configuration" >
    <item type="class" name="dataset_pool_configuration" >
      <item flags="OpusHidden" type="string" name="class" >DatasetPoolConfiguration</item>
      <item flags="OpusHidden" type="path" name="classPath" >opus_core.configurations.dataset_pool_configuration</item>
      <item type="list" name="package_order" >
        <item type="string" name="package" >eugene</item>
        <item type="string" name="package" >urbansim</item>
        <item type="string" name="package" >opus_core</item>
      </item>
      <item type="dictionary" name="package_order_exceptions" />
    </item>
  </item>
</configuration>
