<cruisecontrol>
  <include.projects file="config-opus_core.xml"/>
  <include.projects file="config-urbansim.xml"/>
  <include.projects file="config-az_smart.xml"/>
  <include.projects file="config-biocomplexity.xml"/>
  <include.projects file="config-biogeme.xml"/>
  <include.projects file="config-eugene.xml"/>
  <include.projects file="config-inprocess.xml"/>
  <include.projects file="config-opus_emme2.xml"/>
  <include.projects file="config-opus_manual.xml"/>
  <include.projects file="config-opus_upgrade.xml"/>
  <include.projects file="config-paris.xml"/>
  <include.projects file="config-psrc.xml"/>
  <include.projects file="config-psrc_parcel.xml"/>
  <include.projects file="config-randstad.xml"/>
  <include.projects file="config-sanfrancisco.xml"/>
  <include.projects file="config-transit_accessibility.xml"/>
  <include.projects file="config-travel_model.xml"/>
  <include.projects file="config-urbansim_cache.xml"/>
  <include.projects file="config-washtenaw.xml"/>
  <include.projects file="config-water_demand.xml"/>
</cruisecontrol>