body {
	background: #FFF;
	color: #333;
}

pre {
	background: #F9F9FA;
	border: dotted 1px #77a;
	padding: 10px;
}

.breadcrumbbox {
	color: #333;
	background: #EEE;
	border-top: solid 1px #CCC;
	border-bottom: solid 1px #CCC;
	padding: 2px;
	font-family: 'Lucida Sans Unicode', verdana, arial;
	font-size: 80%;
}

a:link {
	color: #55C;
}

a.breadcrumb {
	color: #555;
}

h1, h2, h3, h4, h5, h6 {
font-family: arial, 'Lucida Sans Unicode', verdana;
	margin-top: 50px;
	margin-bottom: 5px;
}

h3 {
	margin-top: 1.5em;
}

h4, h5, h6 {
	margin-top: 1.2em;
	font-size: 90%;
}

.hideonlocal {
	display: none;
}
